 @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Pestañas debajo de la url bar */
#nav-bar { /* Main Toolbar */
  -moz-box-ordinal-group: 1 !important;
}
#PersonalToolbar { /* Bookmarks Toolbar */
  -moz-box-ordinal-group: 2 !important;
}
#titlebar { /* Menu + Tab Bar */
  -moz-box-ordinal-group: 3 !important;
}
/* Menu Bar on top */
#navigator-toolbox{ 
  margin-top: 11px;
  padding-top: 8px !important; 
}
#toolbar-menubar{
  position: fixed;
  top: 0px;
}

/* ----------- URL BAR ----------- */
#urlbar {
    border: solid 0px #fff !important;
    box-shadow: 0 0 0px 0px #b9b9b9 !important;
    min-height: 28px !important;
    border-radius: 1px !important;
    background-color: #2D2D2D !important;
}

#urlbar[focused="true"] {
    border: solid 1px #7e7e7e !important;
}

/* Tamaño de la barra de busqueda */
#urlbar-container { 
  max-width: 800px !important; 
}


/* ----- CAJA DE SUGERENCIAS ----- */
/* Tamaño de la caja de sugerencias de búsqueda */
#PopupAutoCompleteRichResult {
  margin-left: 1px !important;
  max-width: 793px !important;
  border-radius: 10px !important;
  opacity: 0.9 !important;
}

/* remove unneeded padding around results */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
  padding: 0 !important;
}

/* make sure there is no unneeded space before results (Fx58+) */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
  -moz-margin-start: 0 !important;
  -moz-padding-start: 0 !important;
}

/* calculate width of title and url: width = 1/2 * (window size - 100px) */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-title-text {
  min-width: calc((100vw - 100px)/2) !important;
  width: calc((100vw - 100px)/2) !important;
}
/*#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-url-text*/

/* fix large space issue at items end */
#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
  border-inline-end: 0px solid transparent !important;
} 

/* ------------------------------- */ 

/* Quita botones de la urlbar: tres puntos, zoom*/
#page-action-buttons {display: none !important;}
#urlbar-zoom-button {display:none!important}
.toolbar { visibility: hidden !important; }

/* Make urlbar icon smaller */
[uidensity="compact"]:root .urlbar-icon,
.dropmarker-icon,
.urlbar-icon {
  width: 20px !important;
  height: 20px !important;
}

/* Quita el círculo alrededor del botón de atrás */
:root:not([uidensity=compact]) #back-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  background-color: transparent !important;
  border: none !important;
}

/* Clean Up */
#urlbar .urlbar-input-box {
    text-align: center;
}
.urlbar-input-box > .urlbar-input::placeholder {
  opacity: 0 !important;
}


/* ----------- Light theme ----------- */ 
#PanelUI-menu-button:active{
background-color: transparent !important;
}
#titlebar-buttonbox{display: none;}
#navigator-toolbox{padding-top:0px !important}
#main-window[sizemode="maximized"] #navigator-toolbox{padding-top:0px !important;} 
#titlebar-buttonbox{display: none;}
#navigator-toolbox{padding-top:0px !important}
#main-window[sizemode="maximized"] #navigator-toolbox{padding-top:0px !important;} 
#titlebar-min {
	margin-left: 8px !important;
	margin-right: 5px !important;
	border-radius:1px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 0px  !important;
	margin-bottom: 4px  !important;
  -moz-appearance: none !important;
	 list-style-image: url("yellow.svg") !important;
}
#titlebar-max {
	margin-left: 5px !important;
	margin-right: 5px !important;
	border-radius:1px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 0px  !important;
	margin-bottom: 4px  !important;
  -moz-appearance: none !important;
    list-style-image: url("green.svg") !important;
}
#titlebar-close {
	margin-left: 5px !important;
	margin-right: 8px !important;
	border-radius:1px !important;
	padding: 0px  !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-top: 0px  !important;
	margin-bottom: 4px  !important;
	list-style-image: url("red.svg") !important;
  -moz-appearance: none !important;
	/* background-image: url("red.svg") !important;
	 background-size: 16px 16px !important;
	 background-repeat: no-repeat;*/
}
/* ----------------------------------------------- */

/* ----------- NAV BAR ----------- */
#nav-bar { 
   background: -moz-linear-gradient(to bottom, #2D2D2D, #2D2D2D) !important;
}

:root[sizemode="maximized"] #titlebar-max:hover {
	background-color: transparent !important; 
	/*background-color: rgba(230, 230, 230, 0.1) !important;*/
     list-style-image: url("minz.svg") !important;
}

.titlebar-button > .toolbarbutton-icon {
	height: 16px !important;
	min-height: 16px !important;
	width: 16px !important;
	min-width: 16px !important;
}

.titlebar-button > .toolbarbutton-icon {}

#PanelUI-menu-button{
  margin-right: 6px !important;
}
#back-button {
  margin-left: 6px !important;
}
 
/* No Black Line */
#navigator-toolbox{
  margin-top: -1px !important;
}
 
/* Height */
#nav-bar {
  min-height: 40px !important;
  z-index: 3;
}

/* Hide info box and new tab button */
#identity-box,
.tabs-newtab-button {
  display: none !important;
}

/* Do not display overflow shadow when collapsed */
#navigator-toolbox .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator,
#navigator-toolbox .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator {
  opacity: 0;
}

/* Show overflow shadow on expanded */
#navigator-toolbox:hover .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator,
#navigator-toolbox:hover .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator {
  opacity: 1;
}

/* --------------- PESTAÑAS --------------- */ 

/* Adjust Pinned Tab Width */
.tabbrowser-tab[pinned="true"] {
  min-width: 40px;
}
label[pinned="true"] {
  display: none !important;
}
.tab-icon-image[pinned="true"] {
  margin-left: 4px
}

/* Color de las pestañas */
.tab-background[selected="true"] {
    background-attachment: none !important;
    background-color: #444444 !important;
    background-image: none !important;
}
.tab-background:not([selected]) {
    background-color: #2D2D2D !important;
    background-image: none!important;
}

/* Tab Borders */
.tabbrowser-tab {
  border-top: 1px solid #1b1b1b !important;
  border-right: 1px solid #1b1b1b !important;
  border-bottom: 1px solid #1b1b1b !important;
}
.tabbrowser-tab[selected=true] {
  border-top: 1px solid #1b1b1b !important;
}
.tab-icon-image{display:none !important;}

#navigator-toolbox {
--tabs-border-color: transparent !important;
}
#navigator-toolbox:not([selected]) {
--tabs-border-color: transparent !important;
}

/* Navigation Toolbar */
#nav-bar { 
   background-color: #a1a1a1 !important;
}

/* Remove border between tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
} 

/* Hide blue stripe on active tab */
.tab-line {
  background-color: none !important;
  height: 0px !important;
}
 

/* Override vertical shifts when moving a tab */
#navigator-toolbox[movingtab] > #titlebar > #TabsToolbar {
  padding-bottom: unset !important;
}
#navigator-toolbox[movingtab] #tabbrowser-tabs {
  padding-bottom: unset !important;
  margin-bottom: unset !important;
}
#navigator-toolbox[movingtab] > #nav-bar {
  margin-top: unset !important;
}
 
/* Client Side Decorations */
#titlebar-buttonbox {
  height: 39px !important;
  margin-bottom: 1px !important;
}
window[sizemode="maximized"] #titlebar-buttonbox {
  margin-right: -5px !important;
}
#nav-bar {
  box-shadow: none !important;
}
#titlebar-buttonbox {
  z-index: 3 !important;
}
.titlebar-placeholder {
  display:none !important;
}

toolbarbutton#alltabs-button {
	-moz-binding: url("userChrome.xml#js");
}

/* full-width tabs */
#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 11em !important;
  max-width: 100% !important;
}
#PlacesToolbarItems .bookmark-item {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  text-align: center;
}
.bookmarks-toolbar-items>.scrollbox-innerbox
{
  -moz-box-pack: center!important;
}

#personal-bookmarks #PlacesToolbarItems
{
  -moz-box-pack: center;
}

#personal-bookmarks toolbarbutton[image]>label,
#bookmarks-ptf>toolbarbutton[image]:not([image=""])>label,
#personal-bookmarks toolbarbutton:not([image])>image,
#bookmarks-ptf>toolbarbutton[image=""]>image
{
  display: block!important;
}

/* center tab text*/
.tab-label {-moz-box-flex: 1 !important; text-align: center !important;}
.tab-icon-image {-moz-box-ordinal-group: 0 !important;}

/* Hide tab close button */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {display:none!important}

.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}

#urlbar, .searchbar-textbox{
    border-radius: 0.4em !important;
}

#titlebar-buttonbox{
  background: whitesmoke !important;
}

/* Esto no se que hace */
#tabbrowser-tabs {
	--tab-line-color: #e5e5e5 !important;
}

#navigator-toolbox::after {
	border-bottom: 0px !important;
}

/* ----- OCULTAR ELEMENTOS DEL MENÚ ----- */
#appMenu-fxa-container{
  display: none;
}                
#appMenu-fxa-container+toolbarseparator{
  display: none;
}                
#appMenuRestoreLastSession{
  display: none;
}   
#appMenu-new-window-button{
  display: none;
}                             
#appMenu-zoom-controls{
  display: none;
}                
#appMenu-zoom-controls+toolbarseparator{
  display: none;
}                
#appMenu-edit-controls{
  display: none;
}                
#appMenu-edit-controls+toolbarseparator{
  display: none;
}                
#appMenu-open-file-button{
  display: none;
}                
#appMenu-save-file-button{
  display: none;
}                
#appMenu-find-button{
  display: none;
} 
/* -------------------------------------- */ 




/* ----------- DISCARDED CODE ----------- */

/* Hide and show close tab button */ /*
#TabsToolbar .tab-close-button {
  -moz-box-ordinal-group: 1 !important;
  margin-left: -5.5px !important;
  border-radius: 2px !important;
  transition: opacity 200ms !important;
  list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1"/>\</svg>') !important;
} 
@media (max-resolution: 1.9dppx) {
  #TabsToolbar .tab-close-button {
    list-style-image: url('data:image/svg+xml;utf8,\<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">\<line x1="4.5" y1="4.5" x2="11.5" y2="11.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\<line x1="4.5" y1="11.5" x2="11.5" y2="4.5" stroke="rgb(84,82,84)" stroke-width="1.5"/>\</svg>') !important;
  }
}
#TabsToolbar tab:not(:hover) .tab-close-button {
  opacity: 0 !important;
}
#TabsToolbar tab:hover .tab-close-button {
  opacity: 1 !important;
}
#TabsToolbar tab .close-icon {
  -moz-image-region: unset !important;
}
#TabsToolbar tab .close-icon:hover {
  -moz-image-region: unset !important;
  background-color: rgba(220,220,220,0.1) !important;
  background-clip: padding-box !important;
}
#TabsToolbar tab .close-icon:hover:active {
  background-color: rgba(220,220,220,0.15) !important;
} */   


/*
#navigator-toolbox:hover {
  margin-bottom: -39px !important;
  transition: all 0.3s ease 0s !important;
}
#navigator-toolbox:hover > #TabsToolbar {
  margin-top: -1px !important;
  transition: all 0.3s ease 0s !important;
}*/    

/* Autohide Tabs */ /*
#TabsToolbar {
  min-height: 30px !important;
  margin-top: -40px !important;
  padding-top: 0px !important;
  transition: all 0.3s ease 0s !important;
  -moz-box-ordinal-group: 2 !important;
}
#navigator-toolbox {
  transition: all 0.3s ease 0s !important;
} */   






